*{
    margin: 0;
    padding: 0;
}

.banner {
    height: 10vh;
    background-color: #C1282D; 
    color: black;
    font-family: serif;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo {
    width: 70px; 
    height: 70px;
}

.menu-container {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;  
    justify-content: center;
    flex-wrap: wrap; 
     
    background-color: #F5A9A9; 
    padding: 10px; 
    border-radius: 10px;
}

.categoria {
    text-align: center;
    width: 520px; 
    background-color: #FFC0CB; 
    padding: 10px; 
    position: relative; 
}

.categoria img {
    width: 80px;
    height: 80px;
    border-radius: 20px; 
}

.categoria p {
    font-weight: bold;
    margin-top: 5px;
}

.catalogo {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #fac5ce;
    border-radius: 10px;
    padding: 10px;
    width: 100%; 
}

.categoria:hover .catalogo {
    display: block; 
}

.catalogo a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 5px 0;
}

.catalogo a:hover {
    background-color: #ffaaaa;
    border-radius: 5px;
}


.Separacion{
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;  
    background-color: #C1282D; 
    padding: 5px;  
}

.textInicial {
    font-family: Arial, sans-serif; 
    font-size: 15px; 
    color: #000000; 
    text-align: center; 
    padding: 20px; 
    background-color: #f9cbcb; 
    max-width: 100%; 
}

.textInicial {
    padding: 10px; 
}


.Contenedor1 {
    display: flex;
    align-items: center; 
    padding: 50px; 
    background-color: #f9cbcb; 
}


.Contenedor1 .Imagen img {
    width: 135px; 
    margin-right: 30px; 
    border-radius: 70px; 
}

.Contenedor1 .texto {
    margin-left: 200px;
}


.Contenedor2 {
    display: flex;
    align-items: center; 
    padding: 50px; 
    background-color: #f9cbcb; 
    flex-direction: row-reverse; 
}

.Contenedor2 .Imagen2 img {
    width: 150px; 
    margin-left: 30px; 
    border-radius: 70px; 
}

.Contenedor2 .texto2 {
    margin-right: 200px; 
}

.btn-regresar {
    background-color: #C1282D;  
    color: rgb(255, 255, 255); 
    padding: 10px 20px;  
    border-radius: 10px;  
    font-size: 16px;  
    position: fixed;  
    bottom: 20px;  
    right: 20px;   
}


.btn-regresar:hover {
    background-color: #C1282D;  
}


#redes {
    background-color: #fa9180;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    padding: 20px;
}

#redes img {
    width: 50px; 
    height: 50px;
    object-fit: contain; 
}

  
a{
    text-decoration: none;
    color: #000000;
}

.btnIniciar{
    background-color: #9e171b;
    width: 20vh;
}
/*Damas*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.Damas {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.seccion-titulo {
    text-align: center;
    margin: 20px 0;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
.product-image {
    width: 70px;
    height: 70px;
}

/*Niño*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.Niño {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.seccion-titulo {
    text-align: center;
    margin: 20px 0;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
.product-image {
    width: 70px;
    height: 70px;
}


/*Niña*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.Niña {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.seccion-titulo {
    text-align: center;
    margin: 20px 0;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
.product-image {
    width: 70px;
    height: 70px;
}


/*Caballero*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.Caballero {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.seccion-titulo {
    text-align: center;
    margin: 20px 0;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
.product-image {
    width: 70px;
    height: 70px;
}
